<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="styles.css" type="text/css" rel="stylesheet" />
    <title>Layout</title>
  </head>
  <body>
    <div class="container">
      <!-- block & inline -->
      <div class="block">1</div>
      <div class="block">2</div>
      <div class="block">3</div>
      <div class="block">4</div>
      <div class="block">5</div>
      <div class="block">6</div>
      <div class="block">7</div>
      <div class="block">8</div>
      <div class="block">9</div>
      <div class="block">0</div>
    </div>
  </body>
</html>
